@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";

body {
  font-family: 'Nunito', sans-serif;
}

.carousel-container::-webkit-scrollbar {
  height: 0.5rem;
}

.carousel-container::-webkit-scrollbar-track {
  background: #ececec;
}

.carousel-container::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 8px;
}

.carousel-container::-webkit-scrollbar-thumb:hover {
  background: #666;
}

.home-banner::-webkit-scrollbar {
  display: none;
}